<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReportUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="DbConnection" providerName="System.Data.SqlClient" connectionString="Server=CARL-PC\SQLSERVER;Database=BioStar2;User ID=sa;Password=sa" />
  </connectionStrings>
    <userSettings>
        <ReportUtility.Properties.Settings>
            <setting name="ReportTitle" serializeAs="String">
                <value>Time Record</value>
            </setting>
            <setting name="CertifierName" serializeAs="String">
                <value>[Certifier Name]</value>
            </setting>
            <setting name="CertifierDept" serializeAs="String">
                <value>[Certifier Dept]</value>
            </setting>
            <setting name="CertifierPosition" serializeAs="String">
                <value>[Certifier Position]</value>
            </setting>
            <setting name="ApproverName" serializeAs="String">
                <value>[Approver Name]</value>
            </setting>
            <setting name="ApproverDept" serializeAs="String">
                <value>[Approver Dept]</value>
            </setting>
            <setting name="ApproverPosition" serializeAs="String">
                <value>[Approver Position]</value>
            </setting>
        </ReportUtility.Properties.Settings>
    </userSettings>
</configuration>